.popup {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 15px;
  border: 2px solid #003d99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  border-radius: 10px;
  z-index: 999999;
  cursor: move;
  user-select: none;
  width: min-content;
}

.popup p {
  margin: 20px 0 0;
  color: black;
  white-space: nowrap;
  width: fit-content;
}

.popup span {
  color: black
}

.popup td {
  padding: 1px 0;
}

.popup td:last-child {
  padding-left: 10px;
  font-weight: bold;
}

.popup table {
  border-spacing: 0;
  margin: 20px 0;
}

.popup a {
  display: inline-block;
  user-select: none;
  color: #003d99;
  text-decoration: none;
  transition: 0.2s;
}

.popup a:hover {
  color: #0056cc;
}

.popup input[type="range"] {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  pointer-events: none;
}

.popup .low-is-good {
  background-image: linear-gradient(to right, #3cb340, #b63c3c);
}

.popup .high-is-good {
  background-image: linear-gradient(to right, #b63c3c, #3cb340);
}

.popup .scale {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.popup .slider-value {
  font-weight: bold;
}

.popup .scale span {
  font-size: 0.8em;
  width: min-content;
  text-align: center;
  line-height: 1;
  color: rgb(100, 100, 100);
}

.popup .disclaimer {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 10px;
  width: fit-content;
  line-height: 1;
}

@media (prefers-color-scheme: dark) {
  .popup {
    background-color: #333;
    border-color: #555;
  }

  .popup p,
  .popup td,
  .popup span {
    color: white;
  }

  .popup a {
    color: rgb(55, 165, 255);
  }

  .popup .scale span {
    color: rgba(255, 255, 255, 0.5);
  }
}
