.popup {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7); /* Glass effect */
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
  z-index: 999999;
  cursor: move;
  user-select: none;
  width: min-content;
  display: inline-block;
}

.popup p {
  margin: 15px 0 0;
  color: #333;
  white-space: nowrap;
  width: fit-content;
  font-weight: 500;
}

.popup span {
  color: #444;
  font-weight: 500;
}

.popup td {
  padding: 1px 0;
  white-space: nowrap;
}

.popup td:last-child {
  padding-left: 10px;
  font-weight: bold;
}

.popup table {
  border-spacing: 0;
  margin: 15px 0;
}

.popup a {
  display: inline-block;
  font-weight: 600;
  color: #0056cc;
  text-decoration: none;
  transition: color 0.2s;
}

.popup a:hover {
  color: #003d99;
}

.popup input[type="range"] {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 10px;
  outline: none;
  pointer-events: none;
}

.popup input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: #0056cc;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white, 0 0 0 5px #0056cc;
}


.popup .low-is-good {
  background: linear-gradient(to right, green 0%, orange 50%, red 100%);
}

.popup .high-is-good {
  background: linear-gradient(to right, red 0%, orange 50%, green 100%);
}

.popup .scale {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.popup .scale-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.popup .slider-value {
  font-weight: bold;
  margin-left: 15px;
}

.popup .scale span {
  font-size: 0.75em;
  color: #666;
  width: min-content;
  text-align: center;
  line-height: 1;
}

.popup .disclaimer {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 0;
  margin-top: 10px;
  color: #777;
  text-align: center;
}

.popup .small-logo {
  height: 1.2rem;
}

.popup-minimize {
  position: absolute;
  top: 5px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.popup-minimize:hover {
  color: #000;
}

.popup-bubble {
  width: 50px;
  -webkit-user-drag: none; 
  user-select: none; 
  pointer-events: auto; 
  cursor: pointer;  
}

.popup-bubblified {
  padding: 0px;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .popup {
    background: rgba(40, 40, 40, 0.8);
    backdrop-filter: blur(12px);
    border-color: #555;
  }

  .popup p,
  .popup td,
  .popup span {
    color: white;
  }

  .popup a {
    color: rgb(55, 165, 255);
  }

  .popup .scale span,
  .popup .disclaimer {
    color: rgba(255, 255, 255, 0.6);
  }
}
